.body {
    font-size: 17px;
    line-height: 1.5em;   
}

.img {
    width: 100%;
}
.container {
    margin: auto;
}

/* Common classes*/
.primary-text{
    color: #ffc5c0;
}
.primary-background {
    background: #ffc5c0;
}

#main-header {
    border-bottom: 1px solid #ffc5c0;
}
#lilly-img {
    width: 100px;

}
/* NAVIGATION BAR*/
#pandalilly-navbar {
    text-transform: uppercase;
}
#pandalilly-navbar li{
    display: inline;
    padding-right: 30px;
    list-style: none;
}
#pandalilly-navbar a{
    text-decoration: none;
    color: #a9a9a9;
}
/* current and hover states for anchor and list tags*/
#pandalilly-navbar li.current a, #pandalilly-navbar a:hover{
    color: #ffc5c0;
    border-bottom: 3px solid #ffc5c0;
    padding-bottom: 3px;
}
/*SHOWCASE*/
#showcase {
    background: url('/images/wp2035061.jpg') no-repeat center;
    border-bottom: 1px solid #ffc5c0;
    margin-bottom: 30px;
}
#showcase .container {
    height: 500px;
}
#showcase h1{
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}
#showcase p {
    color: black;
    margin: 0;
}
#showcase .showcase-content{
    background: #888;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.5;
}
/*SKILLS*/
#skills h3{
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
}
#skills p{
    color: #888;
    margin:0;
    margin-bottom: 40px;
}
#skills .fa{
    font-size: 50px;
    color: #ffc5c0;
}
/* COMPANY DETAILS */
#company-details {
    background: #add8e6;
    color: #333;
    padding: 2px 0;
    opacity: 0.8;
}
#company-details h4{
    text-transform: uppercase;
    margin-bottom: 0;
}
#company-details ul{
    padding: 0;
    list-style: none;
    line-height: 2em;
}
#company-details li{
    list-style: none;
}

/* MAIN FOOTER*/
#main-footer {
    background: #ffc5c0;
    color: #fff;
}

/* PAGES */
#page {
    margin-bottom: 40px;
}
/* ABOUT PAGE */
.about ul li{
    list-style: none;
}

/*SKILLS PAGE */
.skills ul li{
    list-style: none;
}
.skills ul li:nth-child(odd){
    background: #888;
    color: black;
}
.skills ul li:nth-child(even){
    background: #add8e6;
    color: black;
}

/*PROJECTS PAGE */
.projects ul li{
    list-style: none;
}
.projects ul li:nth-child(odd){
    background: #888;
    color: black;
}
.projects ul li:nth-child(even){
    background: #add8e6;
    color: black;
}






