.body {
    font-size: 17px;
    line-height: 1.5em;   
}

.img {
    width: 100%;
}
.container {
    margin: auto;
}

/* Common classes*/
.primary-text{
    color: #ffc5c0;
}

#lilly-img {
    width: 100px;

}
#pandalilly-navbar {
    list-style: none;
}
