#index-jumbo {
  height: 360px;
  padding: 10px;
}
#jumbo-profile {
  justify-content: center;
  align-items: center;
  margin: auto;
}
#panda-profile {
  border-radius: 80%;
  width: 200px;
}
#section-projects {
  background-color: #d3d3d3;
}
#section-blog {
  background-color: #8dabc7d8;
}
#blog-img {
  border-radius: 10%;
}
#index-carousel {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.carousel-inner {
  padding: 10px;
}
#item-1,
#item-2,
#item-3 {
  height: 460px;
  width: 900px;
}
#about-page {
  display: flexbox;
  width: 100vw;
}
#about-panel {
  background-color: #d3d3d3;
}
#about-img {
  box-sizing: border-box;
  padding-top: 10px 10px;
}
.fa-quote {
  padding: 10px;
}
#about-section .fa {
  font-size: 50px;
  text-align: center;
}
#about-section .card {
  text-align: center;
}
#skills-heading {
  background-color: #8dabc7d8;
}
#first-skills {
  padding: 10px;
  justify-content: space-evenly;
}
#second-skills {
  justify-content: space-evenly;
  padding: 10px;
}
#about-work {
  background-color: azure;
}
#blog-page {
  background-color: #8dabc7d8;
  height: 100vh;
}
#blog-heading {
  text-align: center;
}
#blog-msg {
  text-align: right;
}
