#index-jumbo {
  height: 360px;
  padding: 10px;
}
#jumbo-profile {
  justify-content: center;
  align-items: center;
  margin: auto;
}
#panda-profile {
  border-radius: 80%;
  width: 200px;
}
#index-section {
  margin: auto;
}
#section-projects {
  background-color: #d3d3d3;
}
#project-1 {
  align-self: end;
}
#section-blog {
  background-color: #8dabc7d8;
}
#blog-img {
  border-radius: 10%;
}
#index-carousel {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.carousel-inner {
  padding: 10px;
}
#item-1,
#item-2,
#item-3 {
  height: 460px;
  width: 900px;
}
#about-page {
  display: flexbox;
}
#about-panel {
  background-color: #d3d3d3;
  padding-left: 10px;
}

#about-img {
  box-sizing: border-box;
  height: 450px;
  padding-top: 10px 10px;
}
.fa-quote {
  padding: 10px;
}
#skills-heading {
  background-color: #8dabc7d8;
  width: 100%;
}
#skills-cards {
  padding: 10px;
}
#about-section .fa {
  font-size: 50px;
  text-align: center;
}
#about-section .card {
  text-align: center;
}
#about-work {
  padding: 10px;
  justify-content: space-evenly;
}
